.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
}
.code-environment-container {
  width: 100vw;
  height: 100vh;

}