.main {
  display: flex;
  color: black;

}

.maincontainer {
  width: 100%;
  height: 100vh;
  justify-content: center;
 
}

.codecontainer {
  height: 100vh;
  width: 60%;
  display: inherit;
  align-items: inherit;
  flex-direction: column;
  justify-content: inherit;
}

.editor {
  height: 70%;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: center;
}

.terminal {
  height: 30%;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: center;
  border-top: #ffffff70 solid 5px;
}