.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vh;
  background-color: #f0f2f5;
}

.header1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.signInButton {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signInButton:hover {
  background-color: #005bb5;
}

.oauthButtons button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.oauthButtons button:hover {
  background-color: #333;
}
